/* settings */
/* .section-setting {
	display: block;
} */

/* .note-set-delete-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

/* SIDEBAR */
.sidebar-noteset-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
	border-radius: var(--border-radius);
}

.sidebar-noteset-section:hover {
	background-color: var(--background-primary);
}

.sidebar-noteset-section > span {
	margin: 0 10px;
}